aniso8601==7.0.0
beautifulsoup4==4.9.1
Django==2.2.16
django-bootstrap4==2.2.0
graphene==2.1.8
graphene-django==2.13.0
graphql-core==2.3.2
graphql-relay==2.0.1
importlib-metadata==1.7.0
Pillow==7.1.0
promise==2.3
PyMySQL==0.10.1
pytz==2020.1
Rx==1.6.1
singledispatch==3.4.0.3
six==1.15.0
soupsieve==2.0.1
sqlparse==0.3.1
Unidecode==1.1.1
zipp==3.2.0
